# Edunet Foundation

In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
print('Setup Completed')

Setup Completed

In [5]:
dataset = "C:/Users/rampa/Downloads/archive (19)/FuelConsumptionCo2.csv"
df_data = pd.read_csv(dataset)

In [6]:
df_data.head()

,MODELYEAR,MAKE,MODEL,VEHICLECLASS,ENGINESIZE,CYLINDERS,TRANSMISSION,FUELTYPE,FUELCONSUMPTION_CITY,FUELCONSUMPTION_HWY,FUELCONSUMPTION_COMB,FUELCONSUMPTION_COMB_MPG,CO2EMISSIONS
0,2014,ACURA,ILX,COMPACT,2.0,4,AS5,Z,9.9,6.7,8.5,33,196
1,2014,ACURA,ILX,COMPACT,2.4,4,M6,Z,11.2,7.7,9.6,29,221
2,2014,ACURA,ILX HYBRID,COMPACT,1.5,4,AV7,Z,6.0,5.8,5.9,48,136
3,2014,ACURA,MDX 4WD,SUV - SMALL,3.5,6,AS6,Z,12.7,9.1,11.1,25,255
4,2014,ACURA,RDX AWD,SUV - SMALL,3.5,6,AS6,Z,12.1,8.7,10.6,27,244

In [7]:
df_data.shape

(1067, 13)

In [8]:
df_data.describe()

,MODELYEAR,ENGINESIZE,CYLINDERS,FUELCONSUMPTION_CITY,FUELCONSUMPTION_HWY,FUELCONSUMPTION_COMB,FUELCONSUMPTION_COMB_MPG,CO2EMISSIONS
count,1067.0,1067.000000,1067.000000,1067.000000,1067.000000,1067.000000,1067.000000,1067.000000
mean,2014.0,3.346298,5.794752,13.296532,9.474602,11.580881,26.441425,256.228679
std,0.0,1.415895,1.797447,4.101253,2.794510,3.485595,7.468702,63.372304
min,2014.0,1.000000,3.000000,4.600000,4.900000,4.700000,11.000000,108.000000
25%,2014.0,2.000000,4.000000,10.250000,7.500000,9.000000,21.000000,207.000000
50%,2014.0,3.400000,6.000000,12.600000,8.800000,10.900000,26.000000,251.000000
75%,2014.0,4.300000,8.000000,15.550000,10.850000,13.350000,31.000000,294.000000
max,2014.0,8.400000,12.000000,30.200000,20.500000,25.800000,60.000000,488.000000

In [9]:
df_data.corr()

C:\Users\rampa\AppData\Local\Temp\ipykernel_15308\3492733786.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df_data.corr()

,MODELYEAR,ENGINESIZE,CYLINDERS,FUELCONSUMPTION_CITY,FUELCONSUMPTION_HWY,FUELCONSUMPTION_COMB,FUELCONSUMPTION_COMB_MPG,CO2EMISSIONS
MODELYEAR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ENGINESIZE,NaN,1.000000,0.934011,0.832225,0.778746,0.819482,-0.808554,0.874154
CYLINDERS,NaN,0.934011,1.000000,0.796473,0.724594,0.776788,-0.770430,0.849685
FUELCONSUMPTION_CITY,NaN,0.832225,0.796473,1.000000,0.965718,0.995542,-0.935613,0.898039
FUELCONSUMPTION_HWY,NaN,0.778746,0.724594,0.965718,1.000000,0.985804,-0.893809,0.861748
FUELCONSUMPTION_COMB,NaN,0.819482,0.776788,0.995542,0.985804,1.000000,-0.927965,0.892129
FUELCONSUMPTION_COMB_MPG,NaN,-0.808554,-0.770430,-0.935613,-0.893809,-0.927965,1.000000,-0.906394
CO2EMISSIONS,NaN,0.874154,0.849685,0.898039,0.861748,0.892129,-0.906394,1.000000

In [10]:
work_df = df_data[["ENGINESIZE","CYLINDERS","CO2EMISSIONS"]]

In [12]:
work_df.head()

   ENGINESIZE  CYLINDERS  CO2EMISSIONS
0         2.0          4           196
1         2.4          4           221
2         1.5          4           136
3         3.5          6           255
4         3.5          6           244

In [13]:
work_df.corr()

              ENGINESIZE  CYLINDERS  CO2EMISSIONS
ENGINESIZE      1.000000   0.934011      0.874154
CYLINDERS       0.934011   1.000000      0.849685
CO2EMISSIONS    0.874154   0.849685      1.000000

In [20]:
msk = np.random.rand(len(work_df)) < 0.8
train_set = work_df[msk]
test_set = work_df[~msk]

print('Training Set Shape : ', train_set.shape)
print('Testing Set Shape : ', test_set.shape)

train_x = np.asanyarray(train_set[["ENGINESIZE","CYLINDERS"]])
train_y = np.asanyarray(train_set[["CO2EMISSIONS"]]).flatten()

Training Set Shape :  (842, 3)
Testing Set Shape :  (225, 3)

In [21]:
from sklearn import linear_model
from sklearn.linear_model import LinearRegression

In [22]:
model = LinearRegression()

In [23]:
model.fit(train_x,train_y)

LinearRegression()

In [24]:
r_sq = model.score(train_x,train_y)
intercept = model.intercept_
slope = model.coef_

print('r square : ', r_sq)
print('Intercept : ', intercept)
print('Slope : ', slope)

r square :  0.7812361376506225
Intercept :  110.5125721490958
Slope :  [29.21914987  8.27630926]

In [25]:
test_x = np.asanyarray(test_set[["ENGINESIZE","CYLINDERS"]])
test_y = np.asanyarray(test_set[["CO2EMISSIONS"]]).flatten()

In [26]:
y_pred = model.predict(test_x)
print(y_pred)

[262.43745224 213.74376887 314.0530506  247.82787731 293.59964569
 202.05610892 202.05610892 299.44347566 247.82787731 293.59964569
 293.59964569 202.05610892 202.05610892 247.82787731 247.82787731
 247.82787731 247.82787731 247.82787731 247.82787731 305.28730564
 305.28730564 202.05610892 305.28730564 247.82787731 247.82787731
 265.35936723 213.74376887 202.05610892 202.05610892 213.74376887
 202.05610892 202.05610892 265.35936723 357.8817754  357.8817754
 357.8817754  357.8817754  265.35936723 357.8817754  196.21227895
 213.74376887 285.81277214 331.58454052 331.58454052 316.97496559
 352.03794543 352.03794543 216.66568385 213.74376887 285.81277214
 285.81277214 285.81277214 196.21227895 331.58454052 331.58454052
 331.58454052 265.35936723 343.27220047 265.35936723 265.35936723
 343.27220047 363.72560538 265.35936723 265.35936723 343.27220047
 265.35936723 184.524619   184.524619   184.524619   311.13113561
 334.50645551 202.05610892 190.36844897 202.05610892 262.43745224
 262.43745224 262.43745224 262.43745224 268.28128221 322.81879556
 322.81879556 268.28128221 322.81879556 322.81879556 357.8817754
 202.05610892 202.05610892 202.05610892 202.05610892 202.05610892
 322.81879556 202.05610892 190.36844897 216.66568385 265.35936723
 331.58454052 352.03794543 357.8817754  357.8817754  331.58454052
 357.8817754  262.43745224 202.05610892 196.21227895 213.74376887
 187.44653398 262.43745224 202.05610892 190.36844897 268.28128221
 268.28128221 268.28128221 262.43745224 262.43745224 247.82787731
 202.05610892 322.81879556 322.81879556 322.81879556 322.81879556
 322.81879556 213.74376887 265.35936723 196.21227895 190.36844897
 213.74376887 190.36844897 202.05610892 262.43745224 213.74376887
 256.59362227 213.74376887 190.36844897 202.05610892 247.82787731
 247.82787731 262.43745224 262.43745224 343.27220047 262.43745224
 268.28128221 268.28128221 334.50645551 247.82787731 268.28128221
 202.05610892 202.05610892 216.66568385 216.66568385 216.66568385
 216.66568385 216.66568385 216.66568385 202.05610892 196.21227895
 262.43745224 262.43745224 262.43745224 337.4283705  204.97802391
 262.43745224 337.4283705  262.43745224 262.43745224 247.82787731
 314.0530506  352.03794543 262.43745224 337.4283705  357.8817754
 190.36844897 190.36844897 190.36844897 190.36844897 190.36844897
 202.05610892 170.40447977 213.74376887 340.35028548 216.66568385
 277.04702717 216.66568385 216.66568385 196.21227895 340.35028548
 190.36844897 259.51553725 271.2031972  265.35936723 265.35936723
 247.82787731 316.97496559 259.51553725 247.82787731 316.97496559
 343.27220047 247.82787731 247.82787731 265.35936723 438.71652363
 216.66568385 216.66568385 216.66568385 216.66568385 265.35936723
 262.43745224 216.66568385 196.21227895 196.21227895 196.21227895
 196.21227895 277.04702717 262.43745224 216.66568385 343.27220047
 196.21227895 202.05610892 202.05610892 196.21227895 224.94199311
 224.94199311 202.05610892 253.67170728 247.82787731 253.67170728]

In [27]:
print(test_set)

      ENGINESIZE  CYLINDERS  CO2EMISSIONS
5            3.5          6           230
9            2.4          4           212
15           4.7          8           354
26           3.0          6           251
34           4.0          8           288
...          ...        ...           ...
1046         2.5          5           225
1049         2.0          4           184
1059         3.2          6           235
1060         3.0          6           264
1063         3.2          6           264

[225 rows x 3 columns]

In [28]:
r_sq_test = model.score(test_x,test_y)
print(r_sq_test)

0.7415592093946575

In [29]:
mse = np.mean((test_y - y_pred)**2)
print('Mean Squeard Error : ', mse)

Mean Squeard Error :  1060.4206931231531