# Database

**Creating a Database**      
To create a database in MySQL, use the "CREATE DATABASE" statement:

In [2]:
pip install mysql-connector-python

Defaulting to user installation because normal site-packages is not writeable
Collecting mysql-connector-python
  Downloading mysql_connector_python-8.1.0-cp310-cp310-win_amd64.whl (10.9 MB)
     --------------------------------------- 10.9/10.9 MB 19.8 MB/s eta 0:00:00
Collecting protobuf<=4.21.12,>=4.21.1
  Downloading protobuf-4.21.12-cp310-abi3-win_amd64.whl (527 kB)
     ------------------------------------- 527.0/527.0 kB 32.3 MB/s eta 0:00:00
Installing collected packages: protobuf, mysql-connector-python
Successfully installed mysql-connector-python-8.1.0 protobuf-4.21.12
Note: you may need to restart the kernel to use updated packages.

In [5]:
pip install mysql-connector-python

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: mysql-connector-python in c:\users\rampa\appdata\roaming\python\python310\site-packages (8.1.0)
Requirement already satisfied: protobuf<=4.21.12,>=4.21.1 in c:\users\rampa\appdata\roaming\python\python310\site-packages (from mysql-connector-python) (4.21.12)
Note: you may need to restart the kernel to use updated packages.

In [3]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="12345"
)

mycursor = mydb.cursor()

mycursor.execute("CREATE DATABASE edunetDB01")

If the above code was executed with no errors, you have successfully created a database.

**Check if Database Exists**     
You can check if a database exist by listing all databases in your system by using the "SHOW DATABASES" statement:

In [4]:
import mysql.connector
conn=mysql.connector.connect(host="localhost", user="root",
                             password="12345")

c=conn.cursor()

c.execute("show databases ")

for i in c:
    print(i)

('edunetdb01',)
('information_schema',)
('mysql',)
('performance_schema',)
('sakila',)
('sys',)
('world',)

**Creating a Table**      
To create a table in MySQL, use the "CREATE TABLE" statement.
Make sure you define the name of the database when you create the connection

In [9]:
import mysql.connector

db=mysql.connector.connect(
    host="localhost",
    user="root",
    passwd="12345",
    database="edunetdb01"
    )

c=db.cursor()

sql ='''CREATE TABLE edunetdb01_CSE2(
   Rno int not null primary key,
   Name varchar(30) not null,
   Branch CHAR(10),
   Percentage FLOAT,
   Email varchar(50),
   MobileNo int)'''
c.execute(sql)

If the above code was executed with no errors, you have now successfully created a table.

**Check if Table Exists**      
You can check if a table exist by listing all tables in your database with the "SHOW TABLES" statement:

In [10]:
import mysql.connector

db=mysql.connector.connect(
    host="localhost",
    user="root",
    passwd="12345",
    database="edunetdb01"
    )

c=db.cursor()
c.execute("SHOW TABLES")
for i in c:
    print(i)

('edunetdb01_cse1',)
('edunetdb01_cse2',)

**Insert Into Table**       
To fill a table in MySQL, use the "INSERT INTO" statement.

In [11]:
import mysql.connector

db=mysql.connector.connect(
    host="localhost",
    user="root",
    passwd="12345",
    database="edunetdb01"
    )

mycursor = db.cursor()

sql = "INSERT INTO edunetdb01_cse1 (Rno, Name, Branch,Percentage, Email, MobileNo) VALUES (%s, %s, %s, %s, %s, %s)"
val = ("61", "Sameera", "CSE", "72",
       "asd@gmail.com", "1234567890")

mycursor.execute(sql, val)

db.commit()

print(mycursor.rowcount, "record inserted.")

1 record inserted.

**Insert Multiple Rows**      
To insert multiple rows into a table, use the `executemany()` method.
The second parameter of the `executemany()` method is a list of tuples, containing the data you want to insert:

In [12]:
import mysql.connector

db=mysql.connector.connect(
    host="localhost",
    user="root",
    passwd="12345",
    database="edunetdb01"
    )


mycursor = db.cursor()

sql = "INSERT INTO edunetdb01_cse1 (Rno, Name, Branch, Percentage, Email, MobileNo) VALUES (%s,%s, %s, %s, %s, %s)"
val = [
 ("01", "Anju", "ECE", "56", "abc@gmail.com", "1234565432"),
 ("02", "Kanwal", "ECE", "80", "abc@gmail.com", "1234565432"),
 ("03", "Sonu", "CSE", "85", "abc@gmail.com", "1234565432"),
 ("04", "Arun", "CSE", "83", "abc@gmail.com", "1234565432"),
 ("05", "Ravi", "CSE", "78", "abc@gmail.com", "1234565432"),
 ("06", "Anjali", "CSE", "65", "abc@gmail.com", "1234565432"),
 ("07", "Kesavan", "EEE", "95", "abc@gmail.com", "1234565432"),
 ("08", "Anu", "CSE", "55", "abc@gmail.com", "1234565432"),
 ]
mycursor.executemany(sql, val)
db.commit()
print(mycursor.rowcount, "record was inserted.")

8 record was inserted.

**Select From a Table**       
To select from a table in MySQL, use the "SELECT" statement:

In [7]:
import mysql.connector

db=mysql.connector.connect(
    host="localhost",
    user="root",
    passwd="Rajasella@16",
    database="KIETW"
    )

mycursor = db.cursor()

mycursor.execute("SELECT * FROM KIET_CSE1")

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

(1, 'Anju', 'ECE', 56.0, 'abc@gmail.com', 1234565432)
(2, 'Kanwal', 'ECE', 80.0, 'abc@gmail.com', 1234565432)
(3, 'Sonu', 'CSE', 85.0, 'abc@gmail.com', 1234565432)
(4, 'Arun', 'CSE', 83.0, 'abc@gmail.com', 1234565432)
(5, 'Ravi', 'CSE', 78.0, 'abc@gmail.com', 1234565432)
(6, 'Anjali', 'CSE', 65.0, 'abc@gmail.com', 1234565432)
(7, 'Kesavan', 'EEE', 95.0, 'abc@gmail.com', 1234565432)
(8, 'Anu', 'CSE', 55.0, 'abc@gmail.com', 1234565432)
(61, 'Sameera', 'CSE', 72.0, 'asd@gmail.com', 1234567890)

Note: We use the `fetchall()` method, which fetches all rows from the last executed statement.

**Select With a Filter**       
When selecting records from a table, you can filter the selection by using the "WHERE" statement:

In [9]:
import mysql.connector

db=mysql.connector.connect(
    host="localhost",
    user="root",
    passwd="Rajasella@16",
    database="KIETW"
    )

mycursor = db.cursor()

sql = "SELECT * FROM KIET_CSE1 WHERE branch = 'ECE'"

mycursor.execute(sql)

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

(1, 'Anju', 'ECE', 56.0, 'abc@gmail.com', 1234565432)
(2, 'Kanwal', 'ECE', 80.0, 'abc@gmail.com', 1234565432)

**Delete Record**      
You can delete records from an existing table by using the "DELETE FROM" statement:

In [10]:
import mysql.connector

db=mysql.connector.connect(
    host="localhost",
    user="root",
    passwd="Rajasella@16",
    database="KIETW"
    )

mycursor = db.cursor()

sql = "DELETE FROM KIET_CSE1 WHERE Name = 'Anu'"

mycursor.execute(sql)

db.commit()

print(mycursor.rowcount, "record(s) deleted")

1 record(s) deleted

Important!: Notice the statement: `mydb.commit()`. It is required to make the changes, otherwise no changes are made to the table.

**Prevent SQL Injection**        
It is considered a good practice to escape the values of any query, also in delete statements.
This is to prevent SQL injections, which is a common web hacking technique to destroy or misuse your database.
The mysql.connector module uses the placeholder %s to escape values in the delete statement:

In [11]:
import mysql.connector

db=mysql.connector.connect(
    host="localhost",
    user="root",
    passwd="Rajasella@16",
    database="KIETW"
    )

mycursor = db.cursor()

sql = "SELECT * FROM KIET_CSE1 WHERE Name = %s"
adr = ("Anju", )

mycursor.execute(sql, adr)

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

(1, 'Anju', 'ECE', 56.0, 'abc@gmail.com', 1234565432)